@font-face {
    font-family: "libsans";
    src: url("libsans.ttf");
}
body {
    background-color: #000;
    color: #fff;
    font-family: "libsans";
    font-size: 14pt;
}
input, select {
    background-color: #fff;
    color: #000;
    font-family: "libsans";
    font-size: 14pt;
}
.top {
    border: none;
    position: absolute;
    width: 98%;
    height: 15%;
    top: 0%;
}
.panel {
    border: none;
    position: absolute;
    width: 96%;
    height: 82%;
    top: 15%;
    overflow-y: scroll;
}
.actionButton {
    background-color: #fff;
    color: #000;
    font-size: 14pt;
    position: relative;
    border: none;
    border-radius: 5px;
    width: 29px;
}